.wword-container {
    display: grid;
}

.wword-container > #view-container {
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.wword-container > #word-button {
    background-color: grey;   
    font-size: larger;
}

.wword-container > #description {
    overflow-wrap: break-word;
}