.app {
    display: grid;
    grid-template-rows: 10% 10% 80%;
    background-color: gold;
    height: 100%;
}

.catalogue {
    display: grid;
    background-color: wheat;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(150px, auto);
    overflow: scroll;
}

.searchbar {
    display: grid;
    grid-template-columns: 80% 20%;
}