.app {
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: gold;
    height: 100%;
}

.menubar {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    position: relative;
    z-index: 1;
}

.menubar > .searchbar {
    border: none;
}

.words {
    display: grid;
    background-color: brown;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: minmax(100px, 1fr);
    overflow: scroll;
    gap: 10px;
    padding: 10px;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 600px) {
    .menubar > .searchbar {
        grid-area: searchbar;
    }

    .menubar {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: ". ." "searchbar searchbar";
    }

    .words {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: minmax(100px, auto);
        overflow: scroll;
    }
}