.app {
    display: grid;
    grid-template-rows: 10% 10% 80%;
    background-color: gold;
    height: 100%;
}

.catalogue {
    display: grid;
    background-color: wheat;
    grid-template-columns: repeat(6, auto);
    overflow: scroll;
}