.dashboard {
    display: grid;
    background-color: aqua;
    height: 100%;
    grid-template-columns: 20% 80%;
}

.dashboard > .dashboard-menu-bar {
    display: grid;
    grid-template-rows: 10% 10% 80%;
}

.dashboard > .posts {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-auto-rows: 60px;
    overflow: scroll;
}