.dashboard {
    display: grid;
    background-color: aqua;
    grid-template-rows: 10% 90%;
    height: 100%;
}

.dashboard > .dashboard-menu-bar {
    display: grid;
    grid-template-columns: 20% 80%;
}

.dashboard > .dashboard-menu-bar > .button-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.dashboard > .posts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, 1fr);
    overflow: scroll;
}

@media screen and (max-width: 600px) {
    .dashboard > .dashboard-menu-bar {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .dashboard > .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, 1fr);
        overflow: scroll;
    }    
}