.dashboard {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
}

.dashboard > .dashboard-menu-bar {
    display: grid;
    grid-template-columns: 20% 20% 60%;
}

.dashboard > .dashboard-menu-bar > .home-button,
.dashboard > .dashboard-menu-bar > .post-button {
    background-color: burlywood;
    border: none;
}

.dashboard > .dashboard-menu-bar > .home-button:hover,
.dashboard > .dashboard-menu-bar > .post-button:hover {
    background-color: sandybrown;
}

.dashboard > .dashboard-menu-bar > .searchbar {
    border: solid;
    margin: 2px;
}

.dashboard > .posts {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: minmax(100px, auto);
    overflow: scroll;
    gap: 10px;
    padding: 10px;
    background-color: brown;
}

@media screen and (max-width: 600px) {
    .dashboard > .dashboard-menu-bar {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "home-button post-button" "searchbar searchbar";
    }

    .dashboard > .dashboard-menu-bar > .home-button {
        grid-area: home-button;
    }

    .dashboard > .dashboard-menu-bar > .post-button {
        grid-area: post-button;
    }

    .dashboard > .dashboard-menu-bar > .searchbar {
        grid-area: searchbar;
    }

    .dashboard > .posts {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: minmax(100px, auto);
        overflow: scroll;
    }    
}