.login {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.login > .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
    gap: 1%;
}