.view-word-container {
    display: grid;
}

.view-word-container > .view-container {
    display: grid;
    grid-template-rows: 20% 80%;
}

.word-button {
    background-color: burlywood;   
    font-size: larger;
    border: none;
}

.word-button:hover {
    background-color: sandybrown;
}

.view-container > .description {
    overflow-wrap: break-word;
    padding: 10px;
    background-color: wheat;
}