.post-form {
    display: grid;
    grid-template-columns: 80% 19%;
    grid-template-rows: 1fr 80% 1fr;
    grid-template-areas: 
        "word exit-button" 
        "description description" 
        "submit-button submit-button"
    ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1%;
    width: 50%;
    height: 50%;
    border: solid brown;
    background-color: brown;
}
.post-form > .word {
    grid-area: word;
    border: none;
    background-color: wheat;
}

.post-form > .exit-button {
    grid-area: exit-button;
    border: none;
    background-color: saddlebrown;
}

.post-form > .description {
    resize: none;
    grid-area: description;
    border: none;
    background-color: wheat;
}

.post-form > .submit-button {
    grid-area: submit-button;
    border: none;
    background-color: burlywood;
}

.post-form > .submit-button:hover,
.post-form > .exit-button:hover {
    background-color: sandybrown;
}