.putword-container {
    display: grid;
    background-color: rebeccapurple;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.input-container {
    display: grid;
    background-color: aquamarine;
}

.input-container > .description-input {
    resize: none;
}

.post {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: minmax(auto, 500px);
}

.post > .description {
    overflow-wrap: break-word;
}