.putword-container {
    display: grid;
    background-color: rebeccapurple;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.input-container {
    display: grid;
    background-color: aquamarine;
}

.post {
    background-color: blanchedalmond;
    display: grid;
    grid-row: 1 / 5;
}