.putword-container {
    display: grid;
    background-color: rebeccapurple;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.input-container {
    display: grid;
    background-color: aquamarine;
    grid-template-rows: 10% 80% 10%;
}

.input-container > .description-input {
    resize: none;
}

.post {
    background-color: blanchedalmond;
    display: grid;
    align-items: center;
}

.post > .word,
.post > .description {
    overflow-wrap: break-word;
}