.music {
    display: flex;
}

.music > .description {
    display: flex;
    flex-direction: column;
}

.music > .word {
    height: 50px;
    width: minmax(100px, auto);
    background-color: grey;   
}