.login-form {
    display: grid;
    gap: 1%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    padding: 15px;
    border: solid brown;
    height: 25%;
}

.close-login-form {
    position: absolute;
    right: 0%;
    border: none;
    background-color: saddlebrown;
}

.close-login-form:hover,
.login-form > .login-submit-button:hover {
    background-color: sandybrown;
}

.login-form > .login-submit-button {
    background-color: burlywood;
    border: none;
}