.sign-in,
.login,
.dashboard-button,
.logout {
    border: none;
    background-color: burlywood;

}
.sign-in:hover,
.login:hover,
.dashboard-button:hover,
.logout:hover {
    background-color: sandybrown;
}