.sign-in-form {
    display: grid;
    gap: 1%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    padding: 15px;
    border: solid brown;
    height: 50%;
}

.close-sign-in-form:hover,
.submit-sign-in:hover {
    background-color: sandybrown;
}

.close-sign-in-form {
    position: absolute;
    right: 0%;
    border: none;
    background-color: saddlebrown;
}

.sign-in-form > input {
    background-color: burlywood;
    border: dashed saddlebrown;
}

.submit-sign-in {
    background-color: burlywood;
    border: none;
}