.word-container {
    display: flex;
}

.word-container > .description {
    display: flex;
    flex-direction: column;
}

.word-container > .word {
    height: 50px;
    width: minmax(100px, auto);
    background-color: grey;   
}