.word-container {
    display: flex;
    flex-direction: column;
}

.word-container > .description {
    display: flex;
    flex-direction: column;
}

.word-container > .word-button {
    background-color: grey;   
    font-size: larger;
}