.word-container {
    display: grid;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(100px, auto);
}

.word-container > .word-button {
    background-color: grey;   
    font-size: larger;
}

.word-container > .description {
    overflow-wrap: break-word;
}