.word-container {
    display: grid;
}

.word-container > .view-container {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-auto-columns: minmax(100px, auto);
    background-color: red;
}

.word-container > .word-button,
.word-container > .view-container > .word-button {
    background-color: grey;
    font-size: larger;
    border: none;
}

.word-container > .view-container > .description {
    overflow-wrap: break-word;
    background-color: cornflowerblue;
    padding: 10px;
}

.word-container > .view-container > .view-user-button {
    border: none;
}