.error {
    display: grid;
    grid-template-areas: "error-message" "home";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    padding: 15px;
    border: solid brown;
    height: 25vh;
    width: 25vw;
}

.error > .error-message {
    grid-area: error-message;
    align-self: center;
    text-align: center;
    color: red;
}

.error > .home {
    grid-area: home;
    background-color: burlywood;
    border: none;
}

.error > .home:hover {
    background-color: sandybrown;
}

@media screen and (max-width: 600px) {
    .error {
        width: 50vw;
    }
}