.loading {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    padding: 15px;
    border: solid brown;
    height: 10vh;
    width: 10vw;
    align-items: center;
    text-align: center;
    animation: normal rotate;
}

@media screen and (max-width: 600px) {
    .loading {
        width: 50vw;
    }
}